---
import AirSupport from "../../public/illustrations/airsupport.svg";
import Analysis from "../../public/illustrations/analysis.svg";
import Solutions from "../../public/illustrations/solutions.svg";
import Teaching from "../../public/illustrations/teaching.svg";
import VersionControl from "../../public/illustrations/version-control.svg";
import Agency from "../../public/illustrations/agency.svg";
---

<section id="comparison" class="mx-auto max-w-4xl text-center mb-20 md:mb-60">
	<p class="text-3xl font-bold tracking-tight sm:text-4xl bg-gradient-to-b from-neutral-100 to-neutral-400 text-transparent bg-clip-text">
		On Demand Products
	</p>
	<p class="mx-auto prose prose-xl text-center dark:prose-invert mt-14 mb-20 md:mb-40">
		We offer a range of on-demand services to help you with your technology startup. We're happy to work with you on a one-off basis or on a
		recurring subscription.
	</p>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-left p-8 rounded-lg dark:bg-neutral-800 ring ring-neutral-700 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">Free Introduction Call</p>
				<p class="text-neutral-200">
					We're happy to speak to founders, entrepreneurs, investors, agencies, skilled professionals or anyone else who wants to learn more
					about us.
				</p>
			</div>
		</div>
		<div class="lg:w-1/2">
			<img src={Analysis.src} class="ml-20 hidden lg:block" width="220" />
		</div>
	</div>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-right">
			<img src={VersionControl.src} class="ml-48 hidden lg:block" width="200" />
		</div>
		<div class="lg:w-1/2 lg:text-right p-8 rounded-lg ring ring-neutral-700 dark:bg-neutral-800 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">Engineering Consulting Calls</p>
				<p class="text-neutral-200">
					An experienced Engineering Manager will help coach you on how to build an effective product & engineering organisation from A to
					Z.
				</p>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-left p-8 rounded-lg dark:bg-neutral-800 ring ring-neutral-700 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">Private Slack Channel Coach</p>
				<p class="text-neutral-200">
					You're got a million questions and decisions. You need someone with the experience who has your back. Ask unlimited questions via
					Slack.
				</p>
			</div>
		</div>
		<div class="lg:w-1/2">
			<img src={Teaching.src} class="ml-20 hidden lg:block" width="220" />
		</div>
	</div>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-right">
			<img src={AirSupport.src} class="ml-60 hidden lg:block" width="150" />
		</div>
		<div class="lg:w-1/2 lg:text-right p-8 rounded-lg ring ring-neutral-700 dark:bg-neutral-800 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">On Demand Engineering Manager</p>
				<p class="text-neutral-200">
					We've dealt with all the problems you're facing. We'll help you build a high performing team and product for a fraction of the
					time & cost.
				</p>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-left p-8 rounded-lg ring ring-neutral-700 dark:bg-neutral-800 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">On Demand Senior Software Engineer</p>
				<p class="text-neutral-200">
					We specialise in full-stack JavaScript with a focus on React, React Native, Node, and AWS. We can modernise your codebase from
					tech debt.
				</p>
			</div>
		</div>
		<div class="lg:w-1/2 lg:text-left">
			<img src={Solutions.src} class="ml-20 hidden lg:block" width="220" />
		</div>
	</div>

	<div class="flex flex-col items-center mb-5 md:mb-10 lg:flex-row">
		<div class="lg:w-1/2 lg:text-right">
			<img src={Agency.src} class="ml-60 hidden lg:block" width="150" />
		</div>
		<div class="lg:w-1/2 lg:text-right p-8 rounded-lg ring ring-neutral-700 dark:bg-neutral-800 transition-transform hover:scale-105">
			<div class="flex flex-col gap-4">
				<p class="font-bold text-neutral-200 text-lg">Outcome Driven Development</p>
				<p class="text-neutral-200">
					We'll help you build your product and team. We'll work with you to define the outcomes you want to achieve and we'll work with you
					to achieve them.
				</p>
			</div>
		</div>
	</div>
</section>
